* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
textarea,
button,
select {
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

/* HEADER */
.container {
    margin: 0 10vw;
}

nav {
    display: flex;
    gap: 4.6vw;
    height: 85px;
    align-items: center;
    justify-content: center;
}

.nav__logo img {
    max-width: 57px;
}

.menu {
    display: flex;
    gap: 5vw;
    color: #656565;
    align-items: center;
}

.menu__location {
    display: flex;
    gap: 5px;
    align-items: center;
}

.menu__location img {
    max-width: 12px;
}

.menu__location span {
    display: inline-block;
    white-space: nowrap;
}

.menu__location select {
    color: #0590D1;
    padding: 8px;
    cursor: pointer;
}

.menu__time {
    display: flex;
    gap: 5px;
    align-items: center;
}

.menu__time img {
    max-width: 15px;
}

.menu__time-text {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.menu__time-text span {
    display: inline-block;
}

.menu__time-text span:last-child {
    font-weight: 900;
}

.menu__phone {
    display: flex;
    gap: 5px;
    align-items: center;
}

.menu__phone img {
    max-width: 19.6px;
}

.menu__phone-text {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.menu__phone-text span {
    display: inline-block;
}


/* PROMO */
.promo {
    background-color: #F8F8F8;
    position: relative;

}

.promo__row {
    padding: 70px 0 90px;
    /* margin: 0 10vw; */
}

.promo__text {
    max-width: 382px;
    margin-bottom: 80px;
}

.promo__h1 {
    font-size: 36px;
    font-weight: 900;
    line-height: 50px;
    margin-bottom: 10px;
}

.promo__h1 span {
    text-transform: uppercase;
    color: #0590D1;
    font-size: 36px;
}

.promo__description {
    font-size: 20px;
    margin-bottom: 42px;
}

.promo__btn {
    background-color: #0391D3;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25), 0 4px 4px #0391D3;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25), 0 4px 4px #0391D3; */
    border-radius: 50vw;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 95px 12px;
    height: 80px;
    margin-bottom: 40px;
}

.promo__footnote {
    color: #515151
}

.promo__footnote span {
    color: #FF4141
}

.promo__dl {
    display: flex;
    z-index: 1;
}

.promo__dl dt {
    font-size: 72px;
    font-weight: 600;
    color: #0391D3;
    margin-right: 20px;
}

.promo__dl dd {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.promo__dl dd p {
    font-size: 24px;
    font-weight: 400;
    color: #515151;
}

.promo__dl dd p:first-child {
    color: black;
}

.promo__divide {
    width: 2px;
    background-color: #EEEEEE;
    margin: 0 30px;
}

.promo__background {
    position: absolute;
    top: 0;
    right: 0;
    /* left: anchor(10%);
    z-index: 0; */
    height: 70%;

    width: 40%;
    border-radius: 0 0 0 100vw;
    background-color: #3CA7DB;
}

.promo__background img {
    position: absolute;
    top: 2%;
    right: 5%;
    height: 100%;
}

/*REPAIR*/
.repair {
    padding-top: 80px;
    margin-bottom: 100px;
}

.repair__h2 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 70px;
}

.repair__slider {
    display: flex;
    align-items: center;
    margin-bottom: 60px;

}

.repair__slider-container {
    overflow: hidden;
}

.repair__slider-line {
    position: relative;
    left: 0;
    transition: all ease 1s;

    flex-grow: 1;
    display: flex;

}

.repair__slider-inner-window {
    flex-shrink: 0;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 96%;
    margin: 2%;
}

.repair__slider-item {
    grid-row: auto;
    border: 1px solid #EFEFEF;

    transition: box-shadow 0.3s ease;
}

.repair__slider-item:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
}

.repair__slider-item_vertical:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
}

.repair__slider-item_vertical {
    grid-row: span 2;
    border: 1px solid #EFEFEF;

    transition: box-shadow 0.3s ease;
}

.repair__card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-content: center;
    text-align: center;
    box-sizing: border-box;
    height: 250px;
    /* width: 350px; */
    padding: 10px 0 25px;
}

.repair__card_vertical {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-content: center;
    text-align: center;
    padding: 55px 0 40px;
    box-sizing: border-box;
    height: 500px;
    /* width: 460px; */
}

.repair__card-img {
    overflow: hidden;
    position: relative;
    /* padding-top: 100%; */
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.repair__card-img img {
    position: absolute;
    top: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

.repair__card p {
    font-size: 20px;
    text-align: center;
}

.repair__card_vertical p {
    font-size: 22px;
    text-align: center;
}

.repair__slider-arrow {
    width: 27px;
    height: 27px;
    margin: 0 27px;
}

.repair__slider-arrow a:hover svg path {
    fill: #0391D3;

}

.repair__order {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
}

.repair__order-text p {
    line-height: 30px;
}

.repair__order-text p:first-child {
    font-size: 26px;
    font-weight: 700;
    color: #5C5C5C;
}

.repair__order-text p:last-child {
    font-size: 20px;
    color: #A4A4A4;
}

/* ORDER */
.order {
    position: relative;
    margin-bottom: 110px;
}

.order__button {
    background-color: #0391D3;
    color: white;

    padding: 15px 34px;
    max-width: 185px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 50vw;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.order__button_red {
    background-color: #F3393A;
    border: #0391D3 1px solid;
}

.order__button a {
    line-height: 21px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
}

.order__container {
    position: relative;
}

.order__row {
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 80px 0 65px 70px;

    position: relative;
    z-index: 1;
}

.order__h2 {
    font-size: 36px;
    color: white;
}

.order_description {
    font-size: 14px;
    color: #e3f3ed;
    line-height: 20px;
}

.order__background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    height: 100%;

    width: 100%;
    background-color: #3CA7DB;
}

img.order__objects {
    position: absolute;
    bottom: 0;
    right: -3%;
    max-width: 60%;
    max-height: 80%;
}

img.order__man {
    position: absolute;
    bottom: 0;
    right: 25%;
    max-width: 60%;
    max-height: 80%;
    z-index: 1;
}

/* PRICES */
.prices {
    background-color: #3CA7DB;
    padding: 80px 0 85px;
}

.prices__h2 {
    font-size: 36px;
    font-weight: 900;
    color: white;
    text-align: center;
    margin-bottom: 43px;
}

.prices__h2 span {
    font-size: 36px;
    font-weight: 900;
    color: #FF4141;
    text-transform: uppercase;
}

.prices__row {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: stretch;
    gap: 20px;
    /* width: 96%; */
    /* margin: 2%; */
}

.prices__card {
    background-color: white;
    grid-row: auto;
    padding: 18px 10% 35px 10%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* min-height: 100%; */
}

.prices__card_pic {
    position: relative;
}

.prices__background-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgba(255, 0, 0, 0.5);
}

.prices__background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.prices__card_pic-row {
    aspect-ratio: 296/190;
    height: 100%;
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}


.prices__h6 {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #2F2F2F;
    margin-bottom: 8px;
}

.prices__h6_pic {
    color: white;
}

.prices__description {
    color: #AFAFAF;
    line-height: 25px;
    margin-bottom: 15px;
}

.prices__description_pic {
    width: 65%;
    color: white;
    font-weight: 300;
}

.prices__cost {
    margin-top: 15px;
    color: #AE1A49;
    font-size: 16px;
}

.prices__cost_pic {
    color: white;
    font-weight: 900;
    text-transform: uppercase;
}

.prices__inner-image {
    position: absolute;
    z-index: 1;
}

.prices__inner-image_man {
    bottom: 0;
    right: -4%;
    height: 85%;
}

.prices__inner-image_machine {
    bottom: -1%;
    right: -4%;
    height: 80%;
}

.prices__inner-image_sign {
    bottom: 4%;
    right: 2%;
    height: 60%;
}

/* SCHEME */
.scheme {
    margin-top: 120px;
    margin-bottom: 100px;
}

.scheme__row {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    grid-row-gap: 95px;
    grid-column-gap: 16px;
}

.scheme__card {
    padding: 60px 30px 55px;
    border: #3CA7DB 1px solid;

    display: flex;
    align-items: center;
    position: relative;
}

.scheme__step {
    position: absolute;
    left: -10px;
    top: -60px;

    width: 113px;
    height: 101px;
    background-color: #3CA7DB;
    padding: 7px 10px;
}

.scheme__step-p {
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

.scheme__img {
    margin-right: 25px;
    max-width: 100%;

}

.scheme__h6 {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 15px;
}

.scheme__description {
    font-size: 15px;
    color: #a5a5a5;
    line-height: 30px;
}

/* DISCOUNT */

.discount {
    position: relative;
    margin-bottom: 100px;
    background-color: #3CA7DB;
}

.discount__button {
    max-width: 200px;
    padding: 15px 25px;
}

.discount__container {
    position: relative;
    margin-right: 3%;
}

.discount__row {
    width: 490px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 80px 0 75px 50px;

    position: relative;
    z-index: 1;
}

.discount__h2 {
    font-size: 36px;
    color: white;
}

.discount_description {
    font-size: 14px;
    color: #e3f3ed;
    line-height: 20px;
}

img.discount__objects {
    position: absolute;
    bottom: -2%;
    right: -3%;
    max-width: 60%;
    max-height: 80%;
    z-index: 0;
}

img.discount__man {
    position: absolute;
    bottom: 0;
    right: 18%;
    max-width: 60%;
    max-height: 80%;
    z-index: 1;
}

/* FEEDBACK */
.feedback {
    margin-bottom: 95px;
}

.feedback__h2 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 100px;
}

.feedback__row {
    width: 100%;
    display: flex;
    align-items: stretch;
    gap: 15px;
}

.feedback__article {
    flex: 1;
    padding: 65px 35px 35px;
    border: #3CA7DB 1px solid;
    position: relative;
}

.feedback__img {
    max-width: 100px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}

.feedback__article-h6 {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 7px;
}

.feedback__article-text {
    color: #8a8a8a;
    line-height: 30px;
    font-size: 15px;
}

/* FAQ */
.faq {
    background-color: #3CA7DB;
    padding: 60px 0 65px;
}

.faq__h2 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 45px;
    color: #FFFFFF;
}

.faq__row {
    /* display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 20px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq__card {
    background-color: #FFFFFF;
    padding: 25px 20px;
    cursor: pointer;
    border-radius: 2px;
}

.faq__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq__question h6 {
    font-size: 16px;
    color: black;
    transition: color 0.7s ease;
}

.faq__question svg {
    height: 1em;
    transition: transform 0.5s ease-in;
}

.faq__answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease;
}

.faq__answer p {
    padding-top: 1em;
    padding-right: 2em;
    color: #939393;
}

.faq__card.active h6 {
    color: #2588b9;
}


.faq__card.active svg {
    transform: rotate(180deg);
}

.faq__card.active .faq__answer {
    max-height: 300px;
    animation: fade 0.5s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* CONTACTS */
.contacts {
    margin-top: 100px;
    position: relative;
}

.contacts__map {
    height: 450px;
}

.contacts__row {
    background-color: #FFFFFF;
    border-radius: 2px;
    position: absolute;
    left: 10vw;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 60px;
}

.contacts__h2 {
    font-size: 36px;
    color: #2E2E2E;
    font-weight: 900;

}

/* FOOTER */

.footer {
    background-color: #F5F7F9;
    padding: 45px 0 40px;
}

.footer__row {
    display: flex;
    justify-content: space-between;
}

.footer__left {
    display: flex;
    align-items: center;
    justify-content: start;
    align-items: center;
}

.footer__logo {
    max-width: 57px;
    margin-right: 10px;
}

.footer__description {
    font-size: 12px;
    line-height: 20px;
    color: #999999;
}

.footer__right {
    display: flex;
    align-items: center;
    justify-content: start;
    align-items: center;
}

.footer__allrights {
    font-size: 14px;
    line-height: 30px;
    color: #999999;
    margin-right: 28px;
}

/* .footer__button-up {
    display: inline-block;
    border-radius: 50%;
    border: #D8D8D8 1px solid;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

.footer__button-up svg {
    height: 20px;
    fill: #999999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */