* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
textarea,
button,
select {
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

/* HEADER */
.container {
    margin: 0 10vw;
}

nav {
    display: flex;
    gap: 4.6vw;
    height: 85px;
    align-items: center;
    justify-content: center;
}

.nav__logo img {
    max-width: 57px;
}

.menu {
    display: flex;
    gap: 5vw;
    color: #656565;
    align-items: center;
}

.menu__location {
    display: flex;
    gap: 5px;
    align-items: center;
}

.menu__location img {
    max-width: 12px;
}

.menu__location span {
    display: inline-block;
    white-space: nowrap;
}

.menu__location select {
    color: #0590D1;
    padding: 8px;
    cursor: pointer;
}

.menu__time {
    display: flex;
    gap: 5px;
    align-items: center;
}

.menu__time img {
    max-width: 15px;
}

.menu__time-text {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.menu__time-text span {
    display: inline-block;
}

.menu__time-text span:last-child {
    font-weight: 900;
}

.menu__phone {
    display: flex;
    gap: 5px;
    align-items: center;
}

.menu__phone img {
    max-width: 19.6px;
}

.menu__phone-text {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.menu__phone-text span {
    display: inline-block;
}


/* PROMO */
.promo {
    background-color: #F8F8F8;
    position: relative;

}

.promo__row {
    padding: 70px 0 90px;
    /* margin: 0 10vw; */
}

.promo__text {
    max-width: 382px;
    margin-bottom: 80px;
}

.promo__h1 {
    font-size: 36px;
    font-weight: 900;
    line-height: 50px;
    margin-bottom: 10px;
}

.promo__h1 span {
    text-transform: uppercase;
    color: #0590D1;
    font-size: 36px;
}

.promo__description {
    font-size: 20px;
    margin-bottom: 42px;
}

.promo__btn {
    background-color: #0391D3;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25), 0 4px 4px #0391D3;
    border-radius: 50vw;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 95px;
    height: 80px;
    margin-bottom: 40px;
}

.promo__footnote {
    color: #515151
}

.promo__footnote span {
    color: #FF4141
}

.promo__dl {
    display: flex;
    z-index: 1;
}

.promo__dl dt {
    font-size: 72px;
    font-weight: 600;
    color: #0391D3;
    margin-right: 20px;
}

.promo__dl dd {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.promo__dl dd p {
    font-size: 24px;
    font-weight: 400;
    color: #515151;
}

.promo__dl dd p:first-child {
    color: black;
}

.promo__divide {
    width: 2px;
    background-color: #EEEEEE;
    margin: 0 30px;
}

.promo__background {
    position: absolute;
    top: 0;
    right: 0;
    /* left: anchor(10%);
    z-index: 0; */
    height: 70%;

    width: 40%;
    border-radius: 0 0 0 100vw;
    background-color: #3CA7DB;
}

.promo__background img {
    position: absolute;
    top: 2%;
    right: 5%;
    height: 100%;
}

/*REPAIR*/
.repair {
    padding-top: 80px;
    margin-bottom: 100px;
}

.repair__h2 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 70px;
}

.repair__slider {
    display: flex;
    align-items: center;
    margin-bottom: 60px;

}

.repair__slider-container {
    overflow: hidden;
}

.repair__slider-line {
    position: relative;
    left: 0;
    transition: all ease 1s;

    flex-grow: 1;
    display: flex;

}

.repair__slider-inner-window {
    flex-shrink: 0;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 96%;
    margin: 2%;
}

.repair__slider-item {
    grid-row: auto;
    border: 1px solid #EFEFEF;

    transition: box-shadow 0.3s ease;
}

.repair__slider-item:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
}

.repair__slider-item_vertical:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
}

.repair__slider-item_vertical {
    grid-row: span 2;
    border: 1px solid #EFEFEF;

    transition: box-shadow 0.3s ease;
}

.repair__card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-content: center;
    text-align: center;
    box-sizing: border-box;
    height: 250px;
    /* width: 350px; */
    padding: 10px 0 25px;
}

.repair__card_vertical {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-content: center;
    text-align: center;
    padding: 55px 0 40px;
    box-sizing: border-box;
    height: 500px;
    /* width: 460px; */
}

.repair__card-img {
    overflow: hidden;
    position: relative;
    /* padding-top: 100%; */
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.repair__card-img img {
    position: absolute;
    top: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

.repair__card p {
    font-size: 20px;
    text-align: center;
}

.repair__card_vertical p {
    font-size: 22px;
    text-align: center;
}

.repair__slider-arrow {
    width: 27px;
    height: 27px;
    margin: 0 27px;
}

.repair__slider-arrow a:hover svg path {
    fill: #0391D3;

}

.repair__order {
    display: flex;
    justify-content: center;
    gap: 7%;
}

.repair__order-text p:first-child {
    font-size: 26px;
    font-weight: 700;
    color: #5C5C5C;
}

.repair__order-text p:last-child {
    font-size: 22px;
    color: #A4A4A4;
}

/* ORDER */
.order {
    position: relative;
}

.order__button {
    background-color: #0391D3;
    color: white;

    padding: 15px 34px;
    max-width: 185px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 50vw;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.order__button_red {
    background-color: #F3393A;
}

.order__button a {
    line-height: 21px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
}

.order__container {
    position: relative;
}

.order__row {
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 90px 0 65px 70px;

    position: relative;
    z-index: 1;
}

.order__h2 {
    font-size: 36px;
    color: white;
}

.order_description {
    font-size: 14px;
    color: #D3E8E0;
}

.order__background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    height: 100%;

    width: 100%;
    background-color: #3CA7DB;
}

img.order__objects {
    position: absolute;
    bottom: 0;
    right: -3%;
    max-width: 60%;
    max-height: 80%;
}

img.order__man {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 60%;
    max-height: 80%;
}